
<!-- horizontal tabs -->
<ul class="nav nav-tabs mb-3" *ngIf="chats.length">
  <li class="nav-item" *ngFor="let chat of chats; index as i">
    <a  class="nav-link"
        href="javascript:void(0)"
        [class.active]="i === selected"
        (click)="choose(i)">
      Chat {{ chat.id }}
    </a>
  </li>
</ul>

<!-- chat content -->
<div *ngIf="chats.length" class="border rounded p-4 bg-white">
  <h5 class="mb-3">Chat {{ chats[selected].id }}</h5>

  <!-- List all messages -->
  <div *ngIf="chats[selected].messages?.length; else noMessages">
    <div
      *ngFor="let msg of chats[selected].messages"
      class="mb-3 pb-2 border-bottom">
      <strong class="d-block text-capitalize">
        {{ msg.role }}
      </strong>
      <p class="mb-0">{{ msg.content }}</p>
    </div>
  </div>

  <ng-template #noMessages>
    <p class="text-muted">No messages yet.</p>
  </ng-template>
</div>


<p *ngIf="!chats.length" class="text-muted">No chats available.</p>
