/* styles.css */
.nav-link.active {
    font-weight: bold;
    background-color: #e9ecef;
  }
  
  .nav-link {
    padding-right: 1rem !important;
  }
  
  .btn-close {
    width: 0.4rem !important;
    height: 0.4rem !important;
    margin-left: 0.25rem;
  }
  